<h1>Add Standard</h1>

<%= form_for @standard do |f| %>

<div class="form-group">
    <%= f.label :name, 'Subject Name' %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
</div>


<div class=" actions form-group text-center">
    <%= f.submit "Add", class: "btn btn-primary account-btn" %>
</div>
<div class=" actions form-group text-center">
    <%= link_to 'Back', standards_path %>
</div>
<%end%>