<!DOCTYPE html>
<html>
  <head>
    <title>Oes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    
    <link rel="shortcut icon" type="image/x-icon" href="../../../assets/images/favicon.png">
  
  
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
  
  
    <link rel="stylesheet" href="../../../assets/css/font-awesome.min.css">
  
  
    <link rel="stylesheet" href="../../../assets/css/style.css">
  
  
    <script src="../../../assets/javascript/html5shiv.min.js"></script>
    <script src="../../../assets/javascript/respond.min.js"></script>
  </head>

  <!DOCTYPE html>
<html lang="en">


<body class="account-page">

  <div class="main-wrapper">
    <div class="account-content">
      <div class="container">

        <div class="account-logo">
          <a href="index.html"><img src="../../../assets/images/logo2.png" alt="EXAM"></a>
        </div>

        <div class="account-box">
          <div class="account-wrapper">
            <h3 class="account-title">Login</h3>
            <p class="account-subtitle">Access to our dashboard</p>

  <body>
    
    <%= yield %>
  </div>
</div>
</div>
</div>
</div>
<script src="../../../assets/javascript/jquery-3.2.1.min.js"></script>
<script src="../../../assets/javascript/popper.min.js"></script>
<script src="../../../assets/javascript/bootstrap.min.js"></script>
<script src="../../../assets/javascript/app.js"></script>
</body>
</html>